@model TpDojo.Entities.Samourai

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Détail d'un samouraï</h2>
<hr />
<br />

<div>
    @Html.Partial("_SamouraisDetailsDelete", Model)
</div>
<div class="mt25 text-center">
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default" })
</div>
